<!--
Simple example for https://github.com/mozey/angularjs-validation
---------------------------------------------------------------------------- -->

<!doctype html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Form</title>

    <style>
        form label {
            width: 100px;
        }
    </style>

    <link href="../lib/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="../lib/bootstrap-3.3.7/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../validation.css" rel="stylesheet">
</head>
<body>

<div class="container" ng-controller="MainController">
    <br>
    <form action="javascript:" ng-submit="submit()" name="simpleForm">
        <span>Hover over inputs to see tooltips</span><br>
        <span>The name input has a default tooltip</span><br>
        <span>Click on submit to see validation messages</span>
        <br>
        <br>
        <label for="data.name">Name</label>
        <!-- required is a built in validation rule -->
        <input type="text"
               id="data.name"
               ng-model="data.name" name="data.name" validate="required"
               data-uib-tooltip="{{data.tooltip.name}}"
               data-tooltip-placement="right">
        <br>
        <br>
        <label for="data.number">Number</label>
        <!-- number is a built in validation rule -->
        <input type="text"
               id="data.number"
               ng-model="data.number" name="data.number" validate="number"
               data-uib-tooltip="{{data.tooltip.number}}"
               data-tooltip-placement="right">
        <br>
        <br>
        <label for="data.email">Email</label>
        <!-- validEmail is a custom validation rule, see below -->
        <input type="text"
               id="data.email"
               ng-model="data.email" name="data.email" validate="validEmail"
               data-uib-tooltip="{{data.tooltip.email}}"
               data-tooltip-placement="right">
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>

    <form action="javascript:" ng-submit="submit2()" name="simpleForm2">
        <span>Only one of the inputs below have to be filled in</span><br>
        <br>
        <br>
        <label for="data.firstName">First Name</label>
        <input type="text"
               id="data.firstName"
               ng-model="data.firstName" name="data.firstName" validate="validSimpleForm2"
               data-uib-tooltip="{{data.tooltip.firstName}}"
               data-tooltip-placement="right">
        <br>
        <br>
        <label for="data.surname">Surname</label>
        <input type="text"
               id="data.surname"
               ng-model="data.surname" name="data.surname" validate="validSimpleForm2"
               data-uib-tooltip="{{data.tooltip.surname}}"
               data-tooltip-placement="right">
        <br>
        <br>
        <label for="data.company">Company</label>
        <input type="text"
               id="data.company"
               ng-model="data.company" name="data.company" validate="validSimpleForm2"
               data-uib-tooltip="{{data.tooltip.company}}"
               data-tooltip-placement="right">
        <br>
        <br>

        <button type="submit">Submit</button>
    </form>
</div>

<script src="../lib/angular-1.6.4.js"></script>
<script src="../validation.js"></script>

<!--
UI Bootstrap 2.5.0 works with Bootstrap CSS version 3.3.7,
see https://angular-ui.github.io/bootstrap
-->
<script src="../lib/ui-bootstrap-tpls-2.5.0.js"></script>

<script>

    angular.module('app', [
        'ui.bootstrap',
        'validation'
    ]);

    angular.module('app.controllers', []);

    var MainController = function ($scope, validation) {
        console.info("MainController");


        // By default validation only starts after calling validation.validate,
        // usually that is done when the form is first submitted.
        // Afterwards elements will be validated as they are changed.
        // To start validating straight away call the function below.
        //validation.enableValidation();

        // It's a good idea to always wrap simple data on the scope in an object
        // see discussion about angular scopes here
        // https://github.com/angular/angular.js/wiki/Understanding-Scopes
        $scope.data = {
            name: "",
            number: "",
            email: "",
            firstName: "",
            surname: "",
            company: "",
            tooltip: {
                // Default message will be swapped out with validation message
                name: "",
                number: "Default message",
                email: "",
                firstName: "",
                surname: "",
                company: ""
            }
        };

        // validEmail is a custom validation rule,
        // remember to set a validation message and always return a boolean
        $scope.validEmail = {
            validate: function (val) {
                console.info("validEmail.validate: val = ", val);
                // Set message to be displayed if validation fails
                $scope.validEmail.message =
                    "Must be an email address";
                var r = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                // Return value must be true or false
                return Boolean(String(val).match(r));
            }
        };

        $scope.validSimpleForm2 = {
            validate: function (val, options) {
                // This rule is shared by a group of elements
                validation.validateGroup(validation.validateGroupOptions(
                    options, {
                    pathPrefix: "data",
                    elements: ["firstName", "surname", "company"]
                }));

                $scope.validSimpleForm2.message = "First name, surname or company is required";
                return $scope.data.firstName.trim().length !== 0 ||
                    $scope.data.surname.trim().length !== 0 ||
                    $scope.data.company.trim().length !== 0;
            }
        };

        // Call the validate function before submit to check all rules again
        $scope.submit = function () {
            validation.validate($scope, "simpleForm");
            console.info("submit: $scope.simpleForm.$valid =", $scope.simpleForm.$valid);
            if ($scope.simpleForm.$valid) {
                alert("simpleForm is valid");
            }
        };

        $scope.submit2 = function () {
            validation.validate($scope, "simpleForm2");
            console.info("submit2: $scope.simpleForm2.$valid =", $scope.simpleForm2.$valid);
            if ($scope.simpleForm2.$valid) {
                alert("simpleForm2 is valid");
            }
        };
    };

    angular.module("app")
        .controller("MainController", ["$scope", "validation", MainController]);

</script>

</body>
</html>